#menu
    background #191B1F
    color #ffffff
    overflow-y auto
    overflow-x hidden
    -webkit-overflow-scrolling touch

    img
        padding 2px !important
        border 1px solid #d5d5d5

    a
        color #ffffff

        &:hover
            text-decoration none

    h4
        font-size 20px
        line-height 24px
        font-weight 400
        // letter-spacing 1px

    .menu-group
        h5
            font-weight 500
            text-transform uppercase
            letter-spacing 1px
            text-overflow ellipsis
            white-space nowrap
            overflow hidden

            span
                padding-left 10px

        ul
            margin-left 25px

            li
                font-weight 200
                line-height 26px
                letter-spacing 0.8px
                text-overflow ellipsis
                white-space nowrap
                overflow hidden
