#menu
    background #191B1F
    color #ffffff
    overflow-y scroll
    overflow-x hidden
    -webkit-overflow-scrolling touch

    img
        padding 2px !important
        border 1px solid #d5d5d5

    a
        color #ffffff

        &:hover
            text-decoration none

    .menu-group
        h5
            font-weight bold
            text-transform uppercase
            letter-spacing 1px

            span
                padding-left 10px

        ul
            margin-left 25px

            li
                line-height 28px
                letter-spacing 1px
