#search
    height 56px
    padding-left env(safe-area-inset-left) !important
    border-bottom 1px solid #d1d1d1
    color #6c6c6c

    .input-group-addon
    .form-control
        padding 0px
        border-radius 0px
        border none
        background none

    .form-control
        padding-left 10px

        &:focus
            outline none
            box-shadow none
