NUXT_PUBLIC_API_URL=
NUXT_PUBLIC_COMMIT_HASH=
NUXT_PUBLIC_STRIPE_PRICING_TABLE_IDS=
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NUXT_PUBLIC_TITLE=

NUXT_GRAPHQL_BASE_PATH=/graphql
NUXT_JWT_SECRET=
NUXT_MONGODB_URL=
NUXT_OAUTH_ID=
NUXT_OAUTH_SECRET=

NUXT_S3_REGION=
NUXT_S3_ENDPOINT=
NUXT_S3_BUCKET=
NUXT_S3_KEY=
NUXT_S3_SECRET=

NUXT_SES_REGION=
NUXT_SES_EMAIL=
NUXT_SES_KEY=
NUXT_SES_SECRET=

NUXT_STRIPE_KEY=
NUXT_STRIPE_ENDPOINT_SECRET=

NUXT_RUN_AGGREGATION=
