NUXT_PUBLIC_API_URL=
NUXT_PUBLIC_COMMIT_HASH=
NUXT_PUBLIC_SENTRY_DSN=
NUXT_PUBLIC_STRIPE_PRICING_TABLE_IDS=
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NUXT_PUBLIC_TITLE=

#Sentry Build Plugin
SENTRY_AUTH_TOKEN=

PORT=3000
