.h-100.col
    padding-bottom 56px

#content
    background #fafafa
    overflow-y auto
    overflow-x hidden
    -webkit-overflow-scrolling touch
    padding-right env(safe-area-inset-right) !important

h1
    font-size 28px

a
    color #6c6c6c
    text-decoration underline

    &:hover
        text-decoration underline
