.col.h-100
    .row.h-100
        entity-list
        .col.d-none.d-sm-block
            .row.h-100
                entity-tools
                #content.col-12.h-100.p-3(v-if='entityView')
                    img.col-2.p-1.img-thumbnail.float-right(:src='image', :alt='name')
                    h1.mb-4 {{ name }}
                    .row
                        .col
                            .row.mb-2(v-for='v, p in entityView')
                                strong.col-12.col-md-4.col-xl-3.text-md-right {{ p }}
                                .col-12.col-md-8.col-xl-9
                                    template(v-for='i, idx in v')
                                        p.mb-0(v-if='i.to')
                                            router-link(:to='i.to') {{ i.string }}
                                        p.mb-0(v-else-if='i.file')
                                            a(:href='i.file' target='_blank') {{ i.string }}
                                        p.mb-0(v-else-if='i.string') {{ i.string }}
                                        p.mb-0(v-else) {{ i }}
