.col.h-100
    .row.h-100
        entity-list
        .col.d-none.d-sm-block
            .row.h-100
                entity-tools
                #content.col-12.h-100.p-0(v-if='entity')
                    .p-3
                        h1 {{ name }}
                        pre {{ entity }}
