.h-100.col
    padding-bottom 56px

#content
    background #fafafa
    overflow-y auto
    overflow-x hidden
    -webkit-overflow-scrolling touch
    // padding-right env(safe-area-inset-right) !important

h1
    font-size 28px

h2
    font-size 20px

    span
        color #919191
        font-weight 200

h3
    font-size 18px

    span
        color #919191
        font-weight 200

a
    text-decoration underline

    &:hover
        text-decoration underline

.filename
    span
        padding-left 10px
        color #919191

.table
    th
    td
        border none

        a
            text-decoration none

        img
            height 24px
            width 24px
