#start.col-12
    #background(:class='background')
    #nav.fixed-top
        .container
            nav.navbar.navbar-expand-sm.navbar-dark.row
                a.navbar-brand.mr-auto(href='/')
                    strong {{ $t('title') }}
                ul.navbar-nav
                    li.nav-item.d-none.d-sm-block
                        a.nav-link.text-white(href='#info') {{ $t('menu.info') }}
                    li.nav-item.d-none.d-sm-block
                        a.nav-link.text-white(href='#price') {{ $t('menu.price') }}
                    li.nav-item
                        router-link.btn.btn-outline-success.text-light.ml-2.px-3(:to="{ name: 'auth' }") {{ $t('menu.signin') }}

    .row
        .col-12.mb-0.jumbotron.jumbotron-fluid.d-flex.align-items-center.justify-content-center.text-center
            h1 {{ $t('subtitle') }}

    .row.bg-white
        .container
            .row.mt-3.pt-5
                .col-12.col-sm-6.col-md-4.mb-5(v-for="f in $t('features')")
                    h2.text-center
                        strong {{ f.title }}
                    p {{ f.text }}

    #info.row.gray-row
        .container
            .row.mt-3.pb-5
                .col-12.col-md-7(v-for="i in $t('info')")
                    h2.mt-5
                        strong {{ i.title }}
                    p(v-for='p in i.paragraphs') {{ p }}

    #price.row
        .container
            .row.mt-3.py-5
                .col-12.mb-3.text-center
                    h2
                        strong {{ $t('plans.title') }}
                    p {{ $t('plans.text') }}

                .col-10.offset-1.col-sm-6.offset-sm-0.col-md-3.d-flex.mb-3.align-items-stretch(v-for="p in $t('plans.list')")
                    .card.w-100
                        .card-body
                            h3.card-title.text-center {{ p.title }}
                            ul.list-unstyled.card-text
                                li(v-for='f in p.features') {{ f }}

    #customers.row.bg-white
        .container
            .row.mt-3.py-5
                h2.col-12.mb-3.text-center
                    strong {{ $t('customers.title') }}
                ul.col-12.col-sm-4.mb-0.list-unstyled(v-for="g in $t('customers.list')")
                    li(v-for="c in g") {{ c }}

    #footer.row.py-3
        .container
            .row
                .col-12.text-center
                    a(href='mailto:info@entu.ee') info@entu.ee
