h2
h3
p
a
    color #42415c

.gray-row
    background #f9f8f6

#nav
    background rgba(66, 65, 92, .6)

    .navbar-brand
        color #ffffff

#background
    z-index -1
    position fixed
    top 0
    right 0
    bottom 0
    left 0

    -webkit-transform scale(1.02)
    -moz-transform scale(1.02)
    -o-transform scale(1.02)
    -ms-transform scale(1.02)
    transform scale(1.02)

    background-repeat no-repeat
    background-position center
    background-size cover

    &.bg-1
        background-image url('../../assets/backgrounds/bg-1.png')
    &.bg-2
        background-image url('../../assets/backgrounds/bg-2.png')
    &.bg-3
        background-image url('../../assets/backgrounds/bg-3.png')
    &.bg-4
        background-image url('../../assets/backgrounds/bg-4.png')
    &.bg-5
        background-image url('../../assets/backgrounds/bg-5.png')
    &.bg-6
        background-image url('../../assets/backgrounds/bg-6.png')
    &.bg-7
        background-image url('../../assets/backgrounds/bg-7.png')
    &.bg-8
        background-image url('../../assets/backgrounds/bg-8.png')
    &.bg-9
        background-image url('../../assets/backgrounds/bg-9.png')
    &.bg-10
        background-image url('../../assets/backgrounds/bg-10.png')
    &.bg-11
        background-image url('../../assets/backgrounds/bg-11.png')
    &.bg-12
        background-image url('../../assets/backgrounds/bg-12.png')

.jumbotron
    height 400px

    background rgba(66, 65, 92, .8)

    h1
        padding-top 40px
        color #ffffff

#info
    background-image url('../../assets/screenshot.png')

    background-repeat no-repeat
    background-position right center
    background-size 40%

#hind
    color #ffffff
    background rgba(66, 65, 92, .8)

    h2
    p
        color #ffffff

.card
    color #ffffff
    background rgba(66, 65, 92, .9)
    border none
    border-radius 0px

    h3
        color #ffffff

#footer
    background #f4f4f4
