nav
    height 56px
    padding-right env(safe-area-inset-right) !important
    border-bottom 1px solid #99aaae

    button
        height 56px
        color #6c6c6c
        font-size 18px
        border none
        background none
        outline none

        &:hover
            color #1e434c
            text-decoration none

    .loader
        margin 0
        height 20px
        width 20px

    .dropdown:hover>.dropdown-menu
        display block

    .dropdown-toggle::after
        display none

    .nav-item.dropdown.show
        a
            color #3b3b3b
            text-decoration none
            outline none

    .dropdown-menu
        background #ffffff
        border-radius 0
        border 1px solid #99aaae
        border-top 1px solid #d6ddde
        top 53px
        left -100px
        min-width 180px

        &::before
        &::after
            border-left 9px solid rgba(0, 0, 0, 0)
            border-right 9px solid rgba(0, 0, 0, 0)
            content ''
            left 115px
            display inline-block
            position absolute

        &::before
            border-bottom 9px solid #d6ddde
            top -9px

        &::after
            border-bottom 9px solid #ffffff
            top -8px

        .dropdown-item
            &:active
                color #ffffff !important
                background #3b3b3b

    .dropdown-divider
        border-top-color #d6ddde

@media (prefers-color-scheme: dark)
    nav
        border-color #697278

        a
            color #ffffff

            &:hover
                color #697278
