nav.navbar.navbar-expand.col.p-0
    .collapse.navbar-collapse
        router-link.nav-link.d-md-none.col-auto.mt-3(v-if='!showList', :to="{ name: 'entity', params: { entity: '_' }, query: $route.query }", @click.native='toggleList(true)')
            i.icon-chevron-left
        transition(name='fade', :duration=200)
            .loader.m-3(v-if='openRequests')
        ul.navbar-nav.ml-auto(v-if='entity')
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.icon-add
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.icon-edit
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.icon-duplicate
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.icon-parent
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.icon-unlock
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.icon-share
