.property
    overflow auto
    max-width 100%

    a
        text-decoration underline

        &:hover
            text-decoration underline

    span
        padding-left 10px
        color #99aaae

    input
    textarea
        border 1px solid #eeeeee

    textarea
        box-sizing border-box
        resize none
        height auto

@media (prefers-color-scheme: dark)
    .property
        span
            color #697278
