.row.my-2(v-if='visible', :class='{ "mb-3": edit }')
    strong.col-12.col-md-4.col-xl-3.text-md-right(:class='{ "mt-2": edit }') {{ property.name || property.key }}
    .col-12.col-md-8.col-xl-9
        .property(v-for='i in values' v-if='i')
            template(v-if='!edit')
                p.mb-1(v-if='i.to')
                    router-link(:to='i.to', :target='i.target') {{ i.string }}
                    span {{ i.info }}
                p.mb-1(v-else-if='i.string') {{ i.string }}
            template(v-else)
                input.col-12.col-md-12.col-xl-8.mt-1(v-if='i.control === "input"', :value='i.string', @blur='save({ new: $event.target.value, ...i } )')
                p.mt-2(v-else-if='i.string') {{ i.string }}
        //- small.mt-2
        //-     pre {{ property }}
