transition(name='slide')
    #menu.col-12.col-sm-4.col-md-2.align-self-start.h-100.p-0(v-if="showMenu")
        .p-3
            a(href='', @click.prevent='toggleMenu(false)')
                i.icon-menu.float-left.pt-1
            router-link(:to="authTo")
                i.icon-login.float-right.pt-1(v-if='!userId')
                i.icon-logout.float-right.pt-1(v-if='userId')
        #menu-content.align-self-start.p-3
            img.border.col-5.mb-3.rounded-circle.mx-auto.d-block(v-if='user.photo', :src='user.photo', :alt='user.name')
            img.col-6.mb-3.mx-auto.d-block(v-if='!user.photo', src='../../../assets/favicons/favicon.png', :alt='user.name')

            //- h4.pb-3.text-center {{ user.name }}
            h4.pb-3.text-center
                router-link(:to="{ name: 'account', params: { account: account } }", @click.native="menuSelect()") {{ account }}
            ul.list-unstyled
                li.menu-group.mt-4(v-for='mg in menu', :key='mg.name')
                    a(href='', @click.prevent='mg.active = !mg.active')
                        h5.mb-1
                            i(:class="{ 'icon-down': mg.active, 'icon-right': !mg.active }")
                            span {{ mg.name }}
                    ul.list-unstyled(v-show='mg.active', style='display:block')
                        li(v-for='l in mg.links', :key='l._id')
                            router-link(:to="{ name: 'list', params: { entity: entity }, query: l.query }", @click.native="menuSelect(l._id)", :class='{ active: l.queryStr === queryStr() }') {{ l.name }}
        .col.align-self-start.mt-5.text-center(v-if='loading && menu.length === 0')
            .loader
        #menu-language.col-lg-2.pb-1.text-right
            a(href='', v-for='l in locales', @click.prevent='setLocale(l)') {{ l.toUpperCase() }}
