.h-100.col
    .row.h-100
        .h-100.col-12.col-sm-4.col-lg-3
            .row.h-100
                form#search.col-12.p-0(action='.')
                    .input-group.p-3
                        label.input-group-addon(for='search-field')
                            i.fas.fa-lg.fa-search
                        input#search-field.form-control(type='search')
                #list.h-100.col-12.p-0
                    router-link.media.p-3(v-for='e in entities' :key='e.id' :to='"/entity/"+e.id')
                        img.rounded-circle.align-self-start.col-2.mr-3(:src='e.img', :alt='e.title')
                        .media-body.align-self-center
                            h5.mb-1.t-0 {{ e.title }}
                            p.mb-0.mt-0 {{ e.description }}
        entity-content
