span
    color #99aaae
    font-weight 200

#toggle-menu
    position absolute
    font-size 15px
    color #ffffff

    i
        padding 12px
        background-color #1e434c
        border-radius 10px
