.col.h-100
    .row
        a#toggle-menu.col-auto.mt-3.p-2(v-if='!showMenu', href='', @click.prevent='toggleMenu()')
            i.icon-menu
    .row.h-100
        transition(name='fade', mode='out-in')
            .col.align-self-center
                .row.justify-content-md-center(v-if='showStats', key='show')
                    .col-12.col-md-10.col-lg-6.col-xl-4

                        .mt-0 {{ $t('entities') }}
                            span.float-right {{ $t('deleted') }}
                        .progress(style='background:#D1ECF1')
                            .progress-bar.bg-info(max=100, :style='entitiesStyle')
                        .mb-3 {{ entitiesStr }}
                            span.float-right {{ deletedEntitiesStr }}

                        .mt-3 {{ $t('properties') }}
                            span.float-right {{ $t('deleted') }}
                        .progress(style='background:#FFF3CD')
                            .progress-bar.bg-warning(max=100, :style='propertiesStyle')
                        .mb-3 {{ propertiesStr }}
                            span.float-right {{ deletedPropertiesStr }}

                        .mt-3 {{ $t('files') }}
                            span.float-right {{ $t('deleted') }}
                        .progress(style='background:#D4EDDA')
                            .progress-bar.bg-success(max=100, :style='filesSizeStyle')
                        .mb-3 {{ filesSizeStr }}
                            span.float-right {{ deletedFilesSizeStr }}

                        .mt-3 {{ $t('db') }}
                            span.float-right {{ $t('totalUsage') }}
                        .progress(style='background:#E2E3E5')
                            .progress-bar.bg-secondary(max=100, :style='dbSizeStyle')
                        .mb-0 {{ dbSizeStr }}
                            span.float-right {{ totalFilesSizeStr }}

                .loader(v-else, key='loading')
