#menu.align-self-start.h-100.d-none.d-lg-block.p-0(:class="{ 'col-lg-2': !closed, 'col-auto': closed }")
    .p-3
        a(href='', @click.prevent='closed = !closed')
            i.icon-menu.float-left
        router-link(v-show='!closed', :to="{ name: 'auth' }")
            i.icon-sign-in.float-right(v-if='!token')
            i.icon-sign-out.float-right(v-if='token')
    #menu-content.align-self-start.p-3(v-show='!closed')
        img.border.col-5.mb-3.rounded-circle.mx-auto.d-block(v-if='user.photo', :src='user.photo', :alt='user.name')
        img.col-6.mb-3.mx-auto.d-block(v-if='!user.photo', src='../../../assets/logo.png', :alt='user.name')

        //- h4.pb-3.text-center {{ user.name }}
        ul.list-unstyled
            li.menu-group.mt-4(v-for='mg in menu', :key='mg.title')
                a(href='', @click.prevent='mg.active = !mg.active')
                    h5.mb-1
                        i(:class="{ 'icon-chevron-down': mg.active, 'icon-chevron-right': !mg.active }")
                        span {{ mg.title }}
                ul.list-unstyled(v-show='mg.active', style='display:block')
                    li(v-for='l in mg.links', :key='l._id')
                        router-link(:to="{ name: 'list', params: { entity: entity, query: l.query } }", exact) {{ l.title }}
    .col.align-self-start.mt-5.text-center(v-if='menu.length === 0')
        i.icon-spinner
    #menu-language.col-lg-2.pb-1.text-right
        a(href='', v-for='l in selectableLocales', @click.prevent='setLocale(l)') {{ l.toUpperCase() }}
