nav
    height 56px
    padding-right env(safe-area-inset-right) !important
    border-bottom 1px solid #d1d1d1

    a
        color #6c6c6c

        &:hover
            color #3b3b3b
            text-decoration none

    .dropdown:hover>.dropdown-menu
        display block

    .dropdown-toggle::after
        display none

    .nav-item.dropdown.show
        a
            color #3b3b3b
            text-decoration none
            outline none

    .dropdown-menu-right
        border-radius 0
        border 1px solid #d1d1d1
        border-top none
        top 54px
        min-width 180px

        .dropdown-item
            span
                margin-left 10px

            &:active
                color #ffffff !important
                background #3b3b3b
