nav.navbar.navbar-expand-sm.col.p-0
    .collapse.navbar-collapse.pr-2
        ul.navbar-nav.ml-sm-auto
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.fas.fa-lg.fa-plus
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.fas.fa-lg.fa-pencil-alt
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.fas.fa-lg.fa-copy
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.fas.fa-lg.fa-arrow-up
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.fas.fa-lg.fa-unlock
            li.nav-item
                a.nav-link.p-3(href='#')
                    i.fas.fa-lg.fa-share-square
