.col-12.h-100
    padding-bottom 56px

#content
    background #ffffff
    overflow-y auto
    overflow-x hidden
    -webkit-overflow-scrolling touch
    // padding-right env(safe-area-inset-right) !important

h2
    font-size 20px

    span
        color #99aaae
        font-weight 200

h3
    font-size 18px

    span
        color #99aaae
        font-weight 200

a
    text-decoration none

    &:hover
        text-decoration underline

.btn
    border 1px solid #dae0e5

.btn-dark
    color inherit
    background #e2e6ea

.icon-on
.icon-off
    font-size 30px
    line-height 30px
    cursor pointer

.icon-on
    color #009966

    &:hover
        color #007441

.icon-off
    color #6c6c6c

    &:hover
        color #1e434c

pre
    font-size 10px

@media (prefers-color-scheme: dark)
    #parent
        border-color #697278

    #content
        color #ffffff
        background-color #373838
