.h-100.col-12.col-sm-4.col-lg-3
    padding-bottom 56px

#toggle-menu
    margin-bottom 0
    font-size 15px
    color #ffffff
    border-bottom 1px solid #99aaae

    i
        padding 12px
        background-color #1e434c
        border-radius 10px

#search
    height 56px
    padding-left env(safe-area-inset-left) !important
    border-bottom 1px solid #99aaae
    color #6c6c6c

    label
        margin-bottom 0
        font-size 18px

    .input-group-addon
    .form-control
        padding 0
        border-radius 0
        border none
        background none

    .form-control
        height 24px
        padding-left 10px

        &:focus
            outline none
            box-shadow none

#list
    overflow-y auto
    overflow-x hidden
    -webkit-overflow-scrolling touch
    padding-left env(safe-area-inset-left) !important
    border-right 1px solid #99aaae

    a
        min-height 67px
        color inherit

        &:hover
            text-decoration none

    .media
        border-bottom 1px solid #d6ddde

        &.router-link-exact-active
            background #eeeeee

            img
                background #ffffff
                border 1px solid #eeeeee

        img
            height 50px
            width 50px
            border 1px solid #d6ddde

        h5
            font-size 16px
            line-height 18px

        .media-body
            p
                color #919191
                font-size 14px
                line-height 17px

@media only screen and (max-width: 576px)
    #list
        border none

@media (prefers-color-scheme: dark)
    #toggle-menu
        border-color #697278

        i
            background #1f2529

    #search
        border-color #697278
        color #ffffff

        .form-control
            color #ffffff

    #list
        border-color #697278

        .media
            border-color #52585b

            &.router-link-exact-active
                background #494d4f

                img
                    border-color #697278
                    background-color #494d4f

            img
                border-color #697278
                background-color #373838
