nav
    height 56px
    padding-right env(safe-area-inset-right) !important
    border-bottom 1px solid #99aaae

    button
        height 56px
        color #6c6c6c
        font-size 18px
        border none
        background none
        outline none

        &:hover
            color #1e434c
            text-decoration none

    .loader
        margin 0
        height 20px
        width 20px

@media (prefers-color-scheme: dark)
    nav
        border-color #697278

        a
            color #ffffff

            &:hover
                color #697278
