@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: medium;
  @apply h-full;
}

#app {
  @apply h-full;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.n-menu {
  font-size: medium;
}

.n-menu-item-content.n-menu-item-content--child-active .n-menu-item-content-header {
  @apply font-bold
}
