@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: medium;
  @apply h-full;
}

#app {
  @apply h-full;
}

.n-menu {
  font-size: medium;
}
