doctype html
html(lang=page.language)
    head
        title entu

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, minimal-ui')

        link(rel='icon', href='/assets/img/favicon.png')
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
        link(rel='stylesheet', href='/' + page.language + '/style.css')
    body
        .container-fluid.h-100
            .row.h-100
                #menu.h-100.col-lg-2.d-none.d-lg-block.p-0
                    .p-3
                        a#toggle-menu(href='#')
                            i.fas.fa-bars.float-right

                    #menu-content.p-3
                        img.mb-3.rounded-circle.mx-auto.d-block(src='https://lorempixel.com/100/100/cats/', alt='')

                        h4.pb-3.text-center Donec Vitae Pellentesque
                        ul.list-unstyled
                            li.menu-group.mt-4
                                a(href='#')
                                    h5.mb-1
                                        i.fas.fa-angle-down
                                        span Quisque sit
                                ul.list-unstyled(style='display:block')
                                    li
                                        a(href='#') Aliquam
                                    li
                                        a(href='#') Maecenas
                                    li
                                        a(href='#') Fusce fermentum
                            li.menu-group.mt-4
                                a(href='#')
                                    h5.mb-1
                                        i.fas.fa-angle-right
                                        span Aenean
                                ul.list-unstyled
                                    li
                                        a(href='#') Quisque
                                    li
                                        a(href='#') Nullam
                            li.menu-group.mt-4
                                a(href='#')
                                    h5.mb-1
                                        i.fas.fa-angle-right
                                        span Donec
                                ul.list-unstyled
                                    li
                                        a(href='#') Nam
                                    li
                                        a(href='#') Morbi

                .h-100.col-12.col-sm-4.col-lg-3
                    .row.h-100(style='padding-bottom:56px')
                        form#search.col-12.p-0.pl-2(action='.')
                            .input-group.p-3
                                label.input-group-addon(for='search-field')
                                    i.fas.fa-lg.fa-search
                                input#search-field.form-control(type='search')
                        #list.h-100.col-12.p-0
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/abstract/', alt='')
                                .media-body.align-self-center
                                    h5.m-0 Cras tempor dui lacus
                                    p.mb-0.mt-2 Etiam euismod mauris in maximus varius. Quisque sit amet purus sed elit porta accumsan.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/animals/', alt='')
                                .media-body.align-self-center
                                    h5.t-0 Curabitur sit amet
                                    p.mb-0.mt-2 Vivamus ultrices augue ipsum, vitae pellentesque elit imperdiet vitae.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/business/', alt='')
                                .media-body.align-self-center
                                    h5.t-0 Vestibulum eu metus
                                    p.mb-0.mt-2 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/cats/', alt='')
                                .media-body.align-self-center
                                    h5.m-0 Cras tempor dui lacus
                                    p.mb-0.mt-2 Etiam euismod mauris in maximus varius. Quisque sit amet purus sed elit porta accumsan.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/city/', alt='')
                                .media-body.align-self-center
                                    h5.t-0 Curabitur sit amet
                                    p.mb-0.mt-2 Vivamus ultrices augue ipsum, vitae pellentesque elit imperdiet vitae.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/fashion/', alt='')
                                .media-body.align-self-center
                                    h5.t-0 Vestibulum eu metus
                                    p.mb-0.mt-2 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/food/', alt='')
                                .media-body.align-self-center
                                    h5.m-0 Cras tempor dui lacus
                                    p.mb-0.mt-2 Etiam euismod mauris in maximus varius. Quisque sit amet purus sed elit porta accumsan.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/nature/', alt='')
                                .media-body.align-self-center
                                    h5.t-0 Curabitur sit amet
                                    p.mb-0.mt-2 Vivamus ultrices augue ipsum, vitae pellentesque elit imperdiet vitae.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/nightlife/', alt='').align-sel-center
                                .media-body
                                    h5.mt-0 Vestibulum eu metus
                                    p.mb-0.mt-2 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/people/', alt='')
                                .media-body.align-self-center
                                    h5.m-0 Cras tempor dui lacus
                                    //- p.mb-0.mt-2 Etiam euismod mauris in maximus varius. Quisque sit amet purus sed elit porta accumsan.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/sports/', alt='')
                                .media-body.align-self-center
                                    h5.t-0 Vestibulum eu metus
                                    p.mb-0.mt-2 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/technics/', alt='')
                                .media-body.align-self-center
                                    h5.m-0 Cras tempor dui lacus
                                    //- p.mb-0.mt-2 Etiam euismod mauris in maximus varius. Quisque sit amet purus sed elit porta accumsan.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/technics/', alt='')
                                .media-body.align-self-center
                                    h5.t-0 Vestibulum eu metus
                                    p.mb-0.mt-2 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.
                            a.media.p-3(href='#')
                                img.rounded-circle.align-self-start.col-2.mr-3(src='https://lorempixel.com/100/100/transport/', alt='').align-sel-center
                                .media-body
                                    h5.mt-0 Cras tempor dui lacus
                                    p.mb-0.mt-2 Etiam euismod mauris in maximus varius. Quisque sit amet purus sed elit porta accumsan.

                .h-100.col.d-none.d-sm-block
                    .row.h-100(style='padding-bottom:56px')
                        nav#tools.navbar.navbar-expand-sm.col.p-0
                            .collapse.navbar-collapse
                                ul.navbar-nav.ml-sm-auto
                                    li.nav-item
                                        a.nav-link.p-3(href='#')
                                            i.fas.fa-lg.fa-plus
                                    li.nav-item
                                        a.nav-link.p-3(href='#')
                                            i.fas.fa-lg.fa-pencil-alt
                                    li.nav-item
                                        a.nav-link.p-3(href='#')
                                            i.fas.fa-lg.fa-copy
                                    li.nav-item
                                        a.nav-link.p-3(href='#')
                                            i.fas.fa-lg.fa-arrow-up
                                    li.nav-item
                                        a.nav-link.p-3(href='#')
                                            i.fas.fa-lg.fa-unlock
                                    li.nav-item
                                        a.nav-link.p-3(href='#')
                                            i.fas.fa-lg.fa-share-square
                                    li.nav-item.dropdown
                                        a#toggle-login.nav-link.dropdown-toggle.p-3(href='#', role='button', data-toggle='dropdown')
                                            i.fas.fa-lg.fa-sign-in-alt
                                        .dropdown-menu.dropdown-menu-right
                                            a.dropdown-item(href='https://api.entu.ee/auth/google?next=https://app.entu.ee')
                                                i.fab.fa-google
                                                span Google
                                            a.dropdown-item(href='https://api.entu.ee/auth/facebook?next=https://app.entu.ee')
                                                i.fab.fa-facebook
                                                span Facebook
                                            a.dropdown-item(href='https://api.entu.ee/auth/microsoft?next=https://app.entu.ee')
                                                i.fab.fa-microsoft
                                                span Microsoft
                                            .dropdown-divider
                                            a.dropdown-item(href='#')
                                                i.fas.fa-mobile-alt
                                                span Mobiil-ID
                                            a.dropdown-item(href='#')
                                                i.fas.fa-id-card
                                                span ID-kaart
                                            //- .dropdown-divider
                                            //- a.dropdown-item(href='#')
                                            //-     i.fas.fa-university
                                            //-     span TAAT
                        #content.col-12.h-100.p-0
                            .p-3
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis, elit sit amet posuere ullamcorper, arcu neque commodo augue, fermentum faucibus turpis tellus eu tortor. Cras ultricies nisi a lorem finibus, ac tincidunt lorem eleifend. In vitae velit posuere, elementum erat vel, semper lacus. Nam dictum, orci at consequat volutpat, magna libero dapibus velit, eu consequat nisl sapien et erat. Donec quis nulla urna. Integer purus magna, accumsan vel mollis sit amet, porta tempor quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Etiam fringilla risus sapien, eget hendrerit nisi pulvinar vitae. Morbi magna dui, ultrices quis risus id, tincidunt fringilla lacus. Fusce nisl ante, efficitur tristique ipsum ornare, mollis sagittis turpis. Duis augue dolor, scelerisque a enim eu, vehicula vestibulum ante. Fusce aliquam tellus est, id mattis elit varius ut. Quisque elit elit, pretium vel maximus in, gravida vitae felis.

                                p Donec eleifend pharetra congue. Aliquam ut risus cursus, feugiat mauris quis, eleifend massa. Maecenas pharetra scelerisque leo, non mollis metus imperdiet quis. Fusce viverra libero ante, ac consequat neque volutpat at. Aenean vestibulum pretium magna nec ultricies. Quisque sollicitudin lacinia libero, at semper justo ullamcorper et. Nullam ac rhoncus dolor, vitae pulvinar risus. Donec venenatis quam id nisi pharetra, nec vestibulum purus ornare. Nam elementum mi ex. Morbi bibendum molestie orci, ut tempus nunc auctor eu. Pellentesque molestie a ipsum quis aliquam. Aliquam eu nisi ipsum. Vivamus tempus, metus quis tristique ultrices, nunc eros rutrum sem, id luctus tellus mauris vitae neque. Praesent et consequat tortor.

                                p Curabitur sit amet elementum ipsum. Vivamus ultrices augue ipsum, vitae pellentesque elit imperdiet vitae. Duis luctus arcu ut tortor tempor, nec lacinia tortor efficitur. Nullam in neque tortor. Praesent posuere placerat augue, vel porta turpis tincidunt quis. Vestibulum eu metus sit amet elit molestie feugiat eget vitae massa. Fusce sagittis tincidunt metus, vel porta ipsum porttitor non. Cras tempor dui lacus, vel elementum leo facilisis a. Nunc mauris est, mattis quis mi eget, pellentesque vestibulum dolor. Vestibulum nunc nibh, posuere vel posuere quis, blandit ac nunc. Sed ullamcorper tortor mi, quis accumsan nisi ultrices id. Mauris eget condimentum elit, et mattis quam. Vivamus dignissim risus in lectus eleifend posuere. Etiam euismod mauris in maximus varius. Quisque sit amet purus sed elit porta accumsan.

        script(src='/assets/js/jquery-3.2.1.min.js')
        script(src='/assets/js/bootstrap.bundle.min.js')
        script(src='/assets/js/fontawesome-all.min.js')
        script.
            $(function() {
                $('.menu-group a').click(function () {
                    if($(this).find('svg').hasClass('fa-angle-right')) {
                        $(this).next('ul').show()
                        $(this).find('svg').replaceWith('<i class="fas fa-angle-down"></i>')
                    } else {
                        $(this).next('ul').hide()
                        $(this).find('svg').replaceWith('<i class="fas fa-angle-right"></i>')
                    }
                })

                $('#toggle-menu').click(function () {
                    if($('#menu').hasClass('col-lg-2')) {
                        $('#menu-content').fadeOut(300, function() {
                            $('#menu').removeClass('col-lg-2').addClass('col-auto')
                        })
                    } else {
                        $('#menu').addClass('col-lg-2').removeClass('col-auto')
                        $('#menu-content').fadeIn(300)
                    }
                })
            })
