.property
    overflow auto
    max-width 100%

    a
        text-decoration underline

        &:hover
            text-decoration underline

    span
        padding-left 10px
        color #99aaae

    input
    textarea
    select
        border 1px solid #eeeeee

    textarea
        box-sizing border-box
        resize none
        height auto

    select
        height 28px
        background #ffffff
        appearance none
        -moz-appearance none
        -webkit-appearance none
        border-radius 0

    .icon-on
    .icon-off
        font-size 30px
        line-height 30px
        cursor pointer

    .icon-on
        color #009966

        &:hover
            color #007441

    .icon-off
        color #6c6c6c

        &:hover
            color #1e434c

@media (prefers-color-scheme: dark)
    .property
        span
            color #697278
