div
    .background(:class='background')
    .content.row.justify-content-center
        .borderbox.h-100.col-10.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .row.h-100(v-show='!authenticating && accounts.length === 0')
                .col-12
                    router-link(:to="{ name: 'info' }")
                        img.col-5.col-sm-6.col-xl-7.mt-5.mx-auto.d-block(src='../../assets/logo.png', alt='Entu')
                    h1.text-center.mt-5.mb-4 {{ $t('login') }}
                    ul.list-unstyled
                        li(v-for='a in authenticators', :key='a.name')
                            a.pl-4(:href='a.url')
                                i(:class='a.icon')
                                span {{ a.name }}
                .col-12.align-self-end
                    p.text-center {{ $t('info') }}
            .row.h-100(v-show='!authenticating && accounts.length > 0')
                .col-12
                    router-link(:to="{ name: 'info' }")
                        img.col-5.col-sm-6.col-xl-7.mt-5.mx-auto.d-block(src='../../assets/logo.png' alt='Entu')
                    h1.text-center.mt-5.mb-4 {{ $t('choose_db') }}
                    ul.list-unstyled
                        li(v-for='a in accounts', :key='a.account')
                            router-link.pl-4(:to="{ name: 'account', params: { account: a.account } }")
                                i.icon-database
                                span {{ a.account }}
                .col-12.align-self-end.text-center
                    a(href='', @click.prevent='logOut')
                        i.icon-out
                        span {{ $t('logout') }}
            .row.h-100(v-show='authenticating')
                .col-12.align-self-center.text-center
                    .loader
