.background
.content
    position fixed
    top 0
    right 0
    bottom 0
    left 0

.background
    z-index 1

    background-repeat no-repeat
    background-position center
    background-size cover

    &.bg-1
        background-image url('../../assets/backgrounds/bg-1.jpg')
    &.bg-2
        background-image url('../../assets/backgrounds/bg-2.jpg')
    &.bg-3
        background-image url('../../assets/backgrounds/bg-3.jpg')
    &.bg-4
        background-image url('../../assets/backgrounds/bg-4.jpg')
    &.bg-5
        background-image url('../../assets/backgrounds/bg-5.jpg')
    &.bg-6
        background-image url('../../assets/backgrounds/bg-6.jpg')
    &.bg-7
        background-image url('../../assets/backgrounds/bg-7.jpg')
    &.bg-8
        background-image url('../../assets/backgrounds/bg-8.jpg')
    &.bg-9
        background-image url('../../assets/backgrounds/bg-9.jpg')
    &.bg-10
        background-image url('../../assets/backgrounds/bg-10.jpg')
    &.bg-11
        background-image url('../../assets/backgrounds/bg-11.jpg')
    &.bg-12
        background-image url('../../assets/backgrounds/bg-12.jpg')
    &.bg-13
        background-image url('../../assets/backgrounds/bg-13.jpg')
    &.bg-14
        background-image url('../../assets/backgrounds/bg-14.jpg')

.content
    z-index 9
    background rgba(66, 65, 92, .8)

    .borderbox
        overflow-y auto
        background rgba(255, 255, 255, 0.95)
        border-right 1px solid #d6ddde
        border-left 1px solid #d6ddde
        -webkit-overflow-scrolling touch

        h1
            color #42415c
            font-size 28px
            line-height 28px

        li
            border-top 1px solid #d6ddde

            &:first-child
                border-top none

        a
            display block
            padding 10px
            // padding-left 40px
            color inherit
            cursor pointer

            &:hover
                .icon-google
                    color #e22c29
                .icon-microsoft
                    color #0067b8
                .icon-mid
                    color #f04822
                .icon-idc
                    color #3d89f7
                .icon-database
                    color #1e434c
                .icon-out
                    color #cc0033

                span
                    font-weight bold

            i
                text-align center
                height 16px
                width 16px

            span
                padding-left 10px

        p
            font-size 14px

@media (prefers-color-scheme: dark)
    .content
        .borderbox
            border-color #373838
            background-color #373838

            h1
                color #ffffff

            li
                border-color #697278

            a
                &:hover
                    .icon-database
                    .icon-google
                    .icon-mobile-id
                    .icon-id-card
                    .icon-database
                        color #ffffff
